[alias]
	st = status
	ci = commit -a
	br = branch
	co = checkout
	clogaa = log --graph --full-history --all --color         --pretty=format:\"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s\"
        cloga = log --graph --full-history --branches='[^_]*' --color         --pretty=format:\"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s\"
 	clog = log --graph --full-history  --color         --pretty=format:\"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s\"
	dfw = diff --ignore-space-change

[color]
	ui = always
[user]
	name = Olivier Parcollet
	email = olivier.parcollet@cea.fr
[push]
	default = tracking
[core]
 	excludesfile = /Users/parcolle/.gitignore_global
	editor = /usr/bin/vim
[merge]
        defaultToUpstream = true

[diff "nodiff"]
         command = `which true`
[init]
	templatedir = ~/.git_template
